<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- 이미지 얻어오기 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".GlobalApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/app_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.NeerByTo"
        android:usesCleartextTraffic="true"
        android:requestLegacyExternalStorage="true"
        tools:targetApi="31">
        <activity
            android:name=".setting.OpenLicenseActivity"
            android:exported="false" />
        <activity
            android:name=".trede.PlaceUrlActivity"
            android:exported="false" />
        <activity
            android:name=".trede.TredeSearchPlaceActivity"
            android:exported="false" />
        <activity
            android:name=".profile.MannerEstimateBadActivity"
            android:exported="false" />
        <activity
            android:name=".profile.MannerEstimateGoodActivity"
            android:exported="false" />
        <activity
            android:name=".setting.SettingTermsPersonalFragment"
            android:exported="false"
            android:theme="@style/Theme.NeerByTo" />
        <activity
            android:name=".setting.SettingActivity"
            android:exported="false" />
        <activity
            android:name=".servicecenter.FnaDetailActivity"
            android:exported="false" />
        <activity
            android:name=".servicecenter.FnaActivity"
            android:exported="false" />
        <activity
            android:name=".servicecenter.NoticeDetailActivity"
            android:exported="false" />
        <activity
            android:name=".servicecenter.NoticeActivity"
            android:exported="false" />
        <activity
            android:name=".profile.MyLikeActivity"
            android:exported="false" />
        <activity
            android:name=".profile.MyFriendActivity"
            android:exported="false" />
        <activity
            android:name=".profile.MyWriteActivity"
            android:exported="false" />
        <activity
            android:name=".profile.MannerDetailActivity"
            android:exported="false" />
        <activity
            android:name=".trede.TredeWriteActivity"
            android:configChanges="screenSize|screenLayout"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".profile.ProfileUpdateActivity"
            android:exported="false" />
        <activity
            android:name=".profile.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".trede.ReportUserActivity"
            android:exported="false" />
        <activity
            android:name=".chat.ChatDetailActivity"
            android:configChanges="screenSize|screenLayout"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".intro.IntroActivity"
            android:exported="true"
            android:theme="@style/Theme.Splash">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name=".trede.TredeDetailActivity"
            android:exported="true" />
        <activity
            android:name=".login.LocationActivity"
            android:exported="false" />
        <activity
            android:name=".login.FindUserActivity"
            android:exported="false" />
        <activity
            android:name=".login.SingupActivity"
            android:exported="false" />
        <activity
            android:name=".login.LoginActivity"
            android:exported="false">
        </activity>
        <activity
            android:name=".main.MainActivity"
            android:exported="false" /> <!-- 카카오 Auth -->
        <activity
            android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!-- Redirect URI: "kakao${NATIVE_APP_KEY}://oauth" -->
                <data
                    android:host="oauth"
                    android:scheme="@string/kakaoNativeAppKey" />
            </intent-filter>
        </activity>

        <meta-data android:name="com.kakao.sdk.AppKey" android:value="@string/kakaoNativeAppKey2"/>
    </application>

</manifest>